name: golangci-lint

on:
  pull_request:
  push:

permissions:
  contents: read


jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          cache: true

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
          args: --verbose --timeout 10m --fix=false --new-from-rev=HEAD~ --config=.golangci.yml

      - name: Other linters
        run: |
          make init
          make lint

      - name: check-is-dirty
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Detected uncommitted changes."
            git status
            git diff
            exit 1
          fi
